<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>UbicaPet - Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="login">
  <div class="container">
    <img src="/img/fondo.png" alt="fondo" class="fondo" />
    
    <div class="formulario">
      
        <img src="/img/logo.png" class="logologin" />
      <div class="titulos">
        ¡Bienvenido, <a href="/perfil" class="link-perfil"><%= nombre %></a>!
      </div>
        
      <div class="botones-dashboard">
        <a href="./mascotas/registrar" class="boton dashboard-btn">Registrar Mascota</a>
        <a href="/mascotas/mis-mascotas" class="boton dashboard-btn">Mis Mascotas</a>
        <a href="/reportar-perdida" class="boton dashboard-btn">Reportar Pérdida</a>
        <a href="/reportes-encontradas" class="boton dashboard-btn">Mascotas Encontradas</a>
        <a href="/chats" class="boton dashboard-btn">Ver chats</a>
        <a href="/pagos" class="boton dashboard-btn">Ir a Pagos</a>
        <a href="/logout" class="boton salir">Cerrar sesión</a>
      </div>
    </div>
  </div>
</body>
</html>
